.slide{
    display: flex;
    width: 13%;
    height: 95vh;
    margin: 0;
    flex-direction: column;
    border: 1px solid #00000010;
    border-radius: 10px;
    background-color: white;
}

.slide .link{
    width: 10vw;
    text-decoration: none;
    padding: 2%;
    color: #a1a193;
    margin-left: 1vw;
    font-size: large;
}
.slide .activeLink{
    color: #1890ff;
    background-color: #1890ff10;
    border-radius: 6.2%;
}
.slide .link:hover{
    color: #1890ff;
}
/* 移除Accordion边框 */
.slide .accordion-item {
    border: none; /* 移除边框 */
    background-color: transparent; /* 背景透明 */
    box-shadow: none; /* 移除阴影 */
    color: #a1a193;
}

/* 移除Accordion头部的边框 */
.slide .accordion-header {
    background-color: transparent; /* 头部背景透明 */
}
.slide .accordion-header .accordion-button {
    color: #a1a193; /* 将字体颜色改为深灰色 */
    font-size: large;
}
/* 当Accordion展开时，移除周围的边框 */
.slide .accordion-button:not(.collapsed) {
    border: none; /* 移除边框 */
    box-shadow: none; /* 移除阴影 */
    background-color: transparent; /* 背景透明 */
}

.slide .iconNav{
    width: 3vw;
    height: 3vh;
}
.slide .iconNav .icon{
    width: 3vw;
    height: 3vh;
} 
.nav{
    background-color: white;
    display: flex;
    align-items: center;
    height: 3vh;
    margin-bottom: 1vh;
}
.title{
    text-decoration: none;
    font-size: 2vh;
    color: black;
    margin-left: 2vw;
}
.modulesbody{
    background-color: #f3f5f8;
    height: 100vh;
}
.contentContainer{
    position: absolute; /* 绝对定位 */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%; /* 顶部对齐到屏幕高度的一半 */
    left: 50%; /* 左侧对齐到屏幕宽度的一半 */
    transform: translate(-50%, -50%); /* 使用transform平移，确保元素的中心正好对齐到屏幕中心 */
    border: 1px solid #00000010;
    color: red;
    background-color: white;
    border-radius: 20px;
    /* 确定容器的宽度和高度 */
    width: 30%; /* 或者一个具体的宽度值 */
    height: 40%; /* 或者一个具体的高度值 */
}
.contentContainer .content{
    width: 80%;
    height: 80%;
    font-size: larger;
}